{% extends 'camp/base.html' %}
{% block content %}

<div>
    <div class="campName">
       <h1>{{ camp.name }}</h1> 
       <p>{{ camp.location }}</p>
    </div>
    
    <div class="detail">
        <div class="detailHead">
            {% if camp.image %}
                <img src="{{ camp.image.url }}" alt="{{ camp.name }}">
            {% endif %}
            <p>Number of days: {{ camp.number_of_days }}</p>
            <p>Number of camping spots: {{ camp.number_of_campsites }}</p>
            <p>Road condition: {{ camp.road }}</p>
        </div>
        <div class="detailBody">
            <p>{{ camp.description }} </p>
           
        </div>
    </div>
    <div class="reviews">
        <div class="reviewHeader">
            <h2>Reviews</h2> 
            <button><a href="{% url 'review_create' pk=camp.pk %}">Add a Review</a></button>
        </div>
        <ul>
            {% for review in camp.reviews.all %}
                <li> 
                    <h4>{{ review.title }}</h4> 
                    <p>{{ review.content }}- {{ review.author }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}