body {
    background-color: #D2FBEB  !important;
    margin: 5% !important;
    font-family: 'PT Sans' !important;
}

h1, h2{
    font-weight: 700 !important;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3%;;
}

a{
    color: black !important;
}


.camps h2{
    font-size: 1.5em;
    color: black;
}


.searchAdd{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }

.search{
    margin: 5%;
    text-align: center;
    
}

.search a{
    font-size: 1.6em;
    

}

.camps{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3%;
    padding: 2%;
    text-align: center;
    border: black solid .2em;
}





/* ###############
#detail */

.detail{
    margin-bottom: 2%;
    border-bottom: black .2em solid;
    text-align: center;
   
}

.reviewHeader{
    display: flex;
    justify-content: space-between;
}

.detailHead img{
    width: 40%;
    margin-bottom: 2%;
    border: black .1em solid;
}

.campName{
    text-align: center;
}




.reviewHeader{
    display: flex;
    justify-content: space-between;
}


/* search app */
.searchResult{
    text-align: center;
}

.searchResult h2{
    border-bottom: black solid .1em;
    margin-bottom: 2%;
}


@media only screen and (min-width: 768px){


 .detail{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    margin-top: 5%;
 }

 .detail img{
     width: 70%;
 }

 .campDetail{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

 }

}

@media only screen and (min-width: 1200px){
 


}