body {
    background-color: #F7C2BA!important;
    margin: 5% !important;
    font-family: 'Nunito' !important;
}

h1, h2{
    font-weight: 700 !important;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3%;;
}

a{
    color: black !important;
}


.camps h2{
    font-size: 1.5em;
    color: black;
}


.searchAdd{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }

.search{
    margin: 5%;
    text-align: center;
    
}

.search a{
    font-size: 1.6em;
    

}

.camps{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3%;
    padding: 2%;
    text-align: center;
    border: black solid .2em;
}




/* ###############
#detail */

.detail{
    margin-bottom: 2%;
    border-bottom: black .2em solid;
    text-align: center;
   
}

.reviewHeader{
    display: flex;
    justify-content: space-between;
}

.detailHead img{
    width: 40%;
    margin-bottom: 2%;
    border: black .1em solid;
}





.reviewHeader{
    display: flex;
    justify-content: space-between;
}


/* search app */
.searchResult{
    text-align: center;
}

.searchResult h2{
    border-bottom: black solid .1em;
    margin-bottom: 2%;
}


/* .carousel .carousel-item{
    height: 30em;
}

.carousel-item img {
    position: absolute;
    object-fit:center;
    top: 0;
    left: 0;
    min-height: 20em;
} */